.chpbbprnumbers	{
    position: absolute;
    font-size:12px;
    left: 35px;
    border-radius: 15px;
    width: 20px;
    color: white;
    text-align: center;
	background-color: rgba(4, 105, 225, 0.43);
}

.chpbbprnumbers_full {
    right: 20px !important;
    left: auto !important;
}